@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600,700|Roboto:300,400,700,900|Crimson+Text:400,600i,700i|Roboto+Slab|Signika:300,400,600,700');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
main.burnsp-lead-1-2019-05, div.burnsp-lead-1-2019-05 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 1.3;
    color: #000;
}
.burnsp-lead-1-2019-05 h1, .burnsp-lead-1-2019-05 h2, .burnsp-lead-1-2019-05 h3, .burnsp-lead-1-2019-05 h4, .burnsp-lead-1-2019-05 h5, .burnsp-lead-1-2019-05 h6 {
    font-family: 'Oswald', sans-serif;
    line-height: 1.4;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.burnsp-lead-1-2019-05 h1 {
    font-size: 70px;
    color: #000;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 30px;
}
.burnsp-lead-1-2019-05 h1 > small {
    display: block;
    font-size: .45em;
    margin: 7px 0;
    margin-top: 30px;
}
.burnsp-lead-1-2019-05 h1 > small .marker {
    line-height: 1.3 !important;
}
.burnsp-lead-1-2019-05 h2 {
    font-size: 48px;
    color: #000;
    line-height: 1.1;
    margin-bottom: 20px;
}
.burnsp-lead-1-2019-05 h2 small {
    font-size: .6em;
    display: block;
}
.burnsp-lead-1-2019-05 .h2-larg {
    font-size: 100px;
    margin-bottom: 30px;
}
.burnsp-lead-1-2019-05 .h2-larg-2 {
	font-size: 78px;
	margin-bottom: 30px;
}
.burnsp-lead-1-2019-05 .h2-larg-3 {
	font-size: 64px;
}
.burnsp-lead-1-2019-05 h3 {
    font-size: 42px;
    line-height: 1;
    margin-bottom: 25px;
}
.burnsp-lead-1-2019-05 h4 {
    font-size: 30px;
    line-height: 1.1;
}
.burnsp-lead-1-2019-05 h5 {
    font-size: 24px;
}
.burnsp-lead-1-2019-05 h6 {
    font-size: 20px;
}
.burnsp-lead-1-2019-05 p {
    margin: 0px 0 20px;
    line-height: 1.4;
}
.burnsp-lead-1-2019-05 img{
    max-width: 100%;
}
.burnsp-lead-1-2019-05 strong{
	font-weight: 700 !important;
}
.burnsp-lead-1-2019-05 .f-2{
    font-family: 'Signika', sans-serif;
}
.burnsp-lead-1-2019-05 .f-4{
    font-family: 'Roboto Slab', serif;
}
.burnsp-lead-1-2019-05 .f-3 {
	font-family: 'Crimson Text', serif;
	font-weight: normal;
	font-style: italic;
	font-size: 1.3em !important;
}
.burnsp-lead-1-2019-05 .gray{
    color:#616161 !important;
}
.burnsp-lead-1-2019-05 .upper{
    text-transform: uppercase;
}
.burnsp-lead-1-2019-05 .no-upper{
    text-transform: none !important;
}
.burnsp-lead-1-2019-05 .no-shadow{
	box-shadow: none !important;
}

.burnsp-lead-1-2019-05 input:focus, .burnsp-lead-1-2019-05 button:focus{
    outline: none;
}
.burnsp-lead-1-2019-05 a:hover, .burnsp-lead-1-2019-05 a:active{
    text-decoration: none;
}
.burnsp-lead-1-2019-05 sup{
    font-size: 0.7em;
}
.burnsp-lead-1-2019-05 .site-btn {
    font-weight: 600;
    color: #fff;
    border: 1px solid red;
    text-transform: uppercase;
    background: #1cd28e;
    font-size: 34px;
    padding: 6px 30px;
    display: inline-block;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    background: red;
    display: block;
    text-align: center;
    margin-bottom: 0 !important;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    margin-bottom: 0px !important;
    opacity: .95;
}
.burnsp-lead-1-2019-05 .site-btn:hover{
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    text-decoration: none;
    color: #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2)
}
.burnsp-lead-1-2019-05 .small-show{
    display: none !important;
}
.burnsp-lead-1-2019-05 .visible-xs{
    display: none !important;
}
.burnsp-lead-1-2019-05 .mobile-image{
    display: none !important;
}
.burnsp-lead-1-2019-05 .white{
    color:#fff;
}
.burnsp-lead-1-2019-05 .black{
    color:#000;
}
.burnsp-lead-1-2019-05 .red{
    color:red !important;
}
.burnsp-lead-1-2019-05 .blue{
    color:#00ABEA;
}
.burnsp-lead-1-2019-05 .green{
    color:#7FFF00 !important;
}
.burnsp-lead-1-2019-05 .base-color{
    color:#010427 !important;
}
.burnsp-lead-1-2019-05 .marker {
	background: yellow;
	font-weight: 700;
	color: #000;
	padding: 0 5px;
	display: inline;
	line-height: 1.6;
}
.burnsp-lead-1-2019-05 .larg {
    font-size: 1.3em;
    line-height: 1.3;
}
.burnsp-lead-1-2019-05 .larg-1 {
    font-size: 1.1em;
    line-height: 1.3;
}
.burnsp-lead-1-2019-05 .larg-2 {
    font-size: 1.5em !important;
    line-height: 1.3;
}
.burnsp-lead-1-2019-05 .styled-list {
    margin: 35px 0;
}
.burnsp-lead-1-2019-05 .styled-list{
    padding: 0;
    margin: 25px 0;
    list-style-type: none;
    overflow: hidden;
}
.burnsp-lead-1-2019-05 .styled-list li {
    margin-bottom: 10px;
    font-weight: normal;
    position: relative;
    padding-left: 25px;
}
.burnsp-lead-1-2019-05 .styled-list li span {
    margin-bottom: 10px;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
}
.burnsp-lead-1-2019-05 .styled-list.ml{
    margin-left: 50px;
}
.burnsp-lead-1-2019-05 .mt-0{
    margin-top:0 !important;
}
.burnsp-lead-1-2019-05 .mt-50{
    margin-top:50px !important;
}
.burnsp-lead-1-2019-05 ol li {
    margin-bottom: 20px;
}
.burnsp-lead-1-2019-05 .bottle-image {
    width: 60%;
}
.burnsp-lead-1-2019-05 .bottle-right{
    width: 380px;
}
/* ##### collom styles ##### */
.burnsp-lead-1-2019-05 .white-area {
    padding: 50px 0;
    border-bottom: 2px solid #ddd;
}
.burnsp-lead-1-2019-05 .white-area.last {
    border-bottom: 0;
}
.burnsp-lead-1-2019-05 .center-image{
    max-width: 80%;
    margin: 15px auto;
    display: block;
    display: block;
}
.burnsp-lead-1-2019-05 .center-image.bdr{
    padding: 10px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    margin: 25px auto;
}
.burnsp-lead-1-2019-05 .right-img {
    max-width: 325px;
    margin-left: 30px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    margin-top: 10px;
}
.burnsp-lead-1-2019-05 .left-img {
    max-width: 325px;
    margin-right: 30px;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.2);
    margin-bottom: 15px;
    margin-top: 15px;
}
.burnsp-lead-1-2019-05 .darg-area {
    padding: 50px;
    background: #fafafa url(img/brilliant.png) repeat;
    border: 3px dashed #ddd;
}
.burnsp-lead-1-2019-05 .boxed {
    font-style: italic;
    padding: 20px 25px;
    background: #fafafa;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
    border-radius: 10px;
}
.burnsp-lead-1-2019-05 .bottle-middle {
    width: 60%;
    margin: 0 auto;
    display: block;
}



/* ##### Banner Styles #####*/
.burnsp-lead-1-2019-05 .banner {
    padding: 150px 0;
    background: url(img/brilliant.png) repeat, url(img/banner-bg.jpg) no-repeat center bottom /cover;
    border-bottom: 1px solid #eee;
}
.burnsp-lead-1-2019-05 .banner .styled-list {
    margin-top: 15px;
    margin-bottom: 0;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    margin-bottom: 30px;
    padding-left: 40px;
    font-size: 26px;
    font-weight: 400;
}
.burnsp-lead-1-2019-05 .section-1 .right-img {
    max-width: 400px;
    margin-top: 15px;
}
.burnsp-lead-1-2019-05 .section-1 h2 {
    margin-bottom: 35px;
}
.burnsp-lead-1-2019-05 .section-2 .center-image.bdr {
    margin-bottom: 15px;
}


/* ##### Other Sections Styles #####*/


.burnsp-lead-1-2019-05 .three-items {
    display: flex;
    justify-content: space-between;
}
.burnsp-lead-1-2019-05 .single-items {
    width: 30%;
    text-align: center;
    box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 30px 0;
}
.burnsp-lead-1-2019-05 .single-items p {
    margin: 0 !important;
    font-size: 16px;
}
.burnsp-lead-1-2019-05 .single-items span {
    font-size: 70px;
    color: #ddd;
    margin-bottom: 10px;
    display: block;
}


.burnsp-lead-1-2019-05 .guarantee-image {
    width: 200px;
    margin-top: -20px;
}




.faq-area{
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    padding: 50px;
    margin: 50px 0;
}






/*FOOTER STYLES*/
.burnsp-lead-1-2019-05 footer{
	background: #fafafa;
	border-top: 1px solid #eee;
	padding:50px 0;
	text-align: center;
	color: #616161;
}
.burnsp-lead-1-2019-05 footer p{
	color: #616161;
}



/* ###### OPTIONS AREA STYLES ######*/
.burnsp-lead-1-2019-05 .option-area h2 {
    margin-bottom: 35px;
}
.burnsp-lead-1-2019-05 .option-area{
    padding: 70px 0;
    border-top: 1px solid #eee;
}
.burnsp-lead-1-2019-05 .po-2{
    padding-bottom: 45px;
    background: #fafafa;
}
.burnsp-lead-1-2019-05 .single-option {
    background: #fafafa;
    padding: 15px !important;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.01);
    overflow: visible;
    transition: all .3s;
    position: relative;
    border: 1px solid #eee;
    height: auto !important;
}
.burnsp-lead-1-2019-05 .single-option:hover {
    box-shadow: 0 0px 5px 0 rgba(0,0,0,.2);
}
.burnsp-lead-1-2019-05 .single-option h3 {
    color: #3d3d3d;
    line-height: 1.2;
    color: gray;
    font-size: 28px;
    font-weight: normal;
    letter-spacing: 0;
}
.burnsp-lead-1-2019-05 .single-option h3 span{
    display: block;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.burnsp-lead-1-2019-05 .single-option h3 span:first-child {
    font-weight: 700;
    margin: 0 0 -4px;
    letter-spacing: 0;
}
.burnsp-lead-1-2019-05 .single-option h3 span:last-child {
    color: #8f8f8f;
    font-weight: 400;
    margin: -8px 0 0 0;
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 5px;
    z-index: 11;
    display: table;
    margin-left: 50%;
    transform: translateX(-50%);
    letter-spacing: 0;
    width: 60%;
    margin-top: 5px;
}
.burnsp-lead-1-2019-05 .option-middle .col-lg-4:nth-child(2) .single-option h3 span:last-child {
    background: #FEFAF9;
}
.burnsp-lead-1-2019-05 .single-option h3 span:last-child::before {
    content: "";
    width: 134%;
    height: 2px;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}
.burnsp-lead-1-2019-05 .single-option h3 span:last-child::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.burnsp-lead-1-2019-05 .option-middle .col-lg-4:nth-child(2) .single-option h3 span:last-child::after {
    background: #FEFAF9;
}
.burnsp-lead-1-2019-05 .option-middle .col-lg-4:nth-child(1) h3 span:first-child{
    color: #a9a8a8;
}
.burnsp-lead-1-2019-05 .option-middle .col-lg-4:nth-child(2) h3 span:first-child{
    color: #fb4953;
}
.burnsp-lead-1-2019-05 .option-middle .col-lg-4:nth-child(3) h3 span:first-child{
    color: #28629e;
}
.burnsp-lead-1-2019-05 .burnsp-lead-1-2019-05 .single-option h6{
    text-transform: uppercase;
}
.burnsp-lead-1-2019-05 .single-option h6 em{
    color: #ff5b52;
    font-style: normal;
}
.burnsp-lead-1-2019-05 .single-option a {
    width: 100% !important;
}
.burnsp-lead-1-2019-05 .single-option > p {
    color: #969696;
    font-size: 14px;
    width: 70%;
    margin: 10px auto 12px;
    line-height: 1.2;
    text-align: center;
}
.burnsp-lead-1-2019-05 .single-option img {
    margin: 0 auto;
    max-height: 100%;
    display: block;
}
.burnsp-lead-1-2019-05 .single-option-image{
    height: 275px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.burnsp-lead-1-2019-05 .option-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important;
    flex-direction: column;
    margin: -10px 0 10px;
}
.burnsp-lead-1-2019-05 .option-info h6{
    color: #474747;
    font-weight: 600;
    margin: 18px 0 0;
}
.burnsp-lead-1-2019-05 .option-price p{
    font-size: 14px;
    margin: 0 0 -11px;
    color: #9c9c9c;
}
.burnsp-lead-1-2019-05 .old-price, .burnsp-lead-1-2019-05 .current-price {
    float: none;
    width: 100%;
}
.burnsp-lead-1-2019-05 .old-price {
    position: relative;
    width: 75%;
    margin: 0 auto !important;
    margin-top: 15px !important
}
.burnsp-lead-1-2019-05 del.red {
    margin-left: 5px;
}
.burnsp-lead-1-2019-05 .single-option.top-option .old-price:before{
    background: #EEDFD9;
}
.burnsp-lead-1-2019-05 .old-price span{
    color: #9f9f9f;
}
.burnsp-lead-1-2019-05 .price {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.burnsp-lead-1-2019-05 .old-price .price {
    font-size: 24px;
    border-top: 2px solid #9f9f9f;
    border-bottom: 2px solid #9f9f9f;
}
.burnsp-lead-1-2019-05 .price-currency {
    top: -7px;
    position: relative;
    font-size: 0.6em;
}
.burnsp-lead-1-2019-05 .single-option-gua {
    position: absolute;
    width: 100px;
    margin: 0 !important;
    right: 10px;
    top: 10px;
}
.burnsp-lead-1-2019-05 .price-each {
    font-size: 18px;
    font-weight: 600;
    left: 0;
    margin-left: 15px;
}
.burnsp-lead-1-2019-05 .old-price {
    padding-right: 15px;
}
.burnsp-lead-1-2019-05 .you-save {
    padding: 6px 10px;
    background: red;
    color: #fff !important;
    font-size: 14px;
}
.burnsp-lead-1-2019-05 p.auto-refill {
    margin: 0px;
}
.burnsp-lead-1-2019-05 .one-time{
    display: none;
}
.burnsp-lead-1-2019-05 .one-time-option .auto-refill-btn{
    display: none;
}
.burnsp-lead-1-2019-05 .one-time-option .one-time-btn{
    display: block;
}
.one-time-option .one-time{
    display: block;
}
.burnsp-lead-1-2019-05 .one-time-option .auto-refill{
    display: none;
}
.burnsp-lead-1-2019-05 .checkboxes {
    margin: 5px 0 0;
}
.burnsp-lead-1-2019-05 .checkboxes label {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all .3s;
    position: relative;
    padding-left: 30px;
    color: #616161;
    margin-bottom: 3px;
}
.burnsp-lead-1-2019-05 .single-option .single-option-image-0ne img {
    margin: 0 auto;
    max-height: 90%;
    display: block;
}
.burnsp-lead-1-2019-05 .checkboxes label:hover {
    color:#000;
}
.burnsp-lead-1-2019-05 .option-more-info {
    font-size: 12px;
    height: auto !important;
    display: flex;
    align-items: center;
    color: gray;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    transition: all .3s;
    background: rgba(255,0,0,.05);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1)
}
.burnsp-lead-1-2019-05 .option-more-info::after {
    content: "";
    height: 0;
    width: 0;
    border-bottom: 10px solid rgba(255,0,0,.05);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}
.burnsp-lead-1-2019-05 .one-time {
    font-size: 18px;
    color: red;
}
.burnsp-lead-1-2019-05 input[type="radio"]{
    display: none;
}
.burnsp-lead-1-2019-05 input[type="radio"] + span::before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 2px;
    border: 2px solid #616161;
    background: #fff;
    position: absolute;
    top: -1px;
    left: 0;
    line-height: 19px;
    text-align: center;
    color: red;
    font-size: 14px;
    transition: all .3s;
}
.burnsp-lead-1-2019-05 input[type="radio"]:checked + span {
    color: red;
}
.burnsp-lead-1-2019-05 input[type="radio"]:checked + span::before {
    content:"\f00c";
    font-family: "Font Awesome 5 Free";
    border: 2px solid red;
}
.burnsp-lead-1-2019-05 .option-bottom{
    overflow: hidden;
    margin: 38px 0 0;
}
.burnsp-lead-1-2019-05 .option-file{
    float: left;
    width: 25%;
}
.burnsp-lead-1-2019-05 .option-file img{
    margin: 15px auto 0;
}
.burnsp-lead-1-2019-05 .option-bottom-text {
    float: left;
    width: 75%;
}
.burnsp-lead-1-2019-05 .option-bottom-text h2 {
    color: #173B82;
    text-transform: none;
    margin: 0 0 2px;
}
.burnsp-lead-1-2019-05 .one-time-btn {
    display: none;
}
.burnsp-lead-1-2019-05 .no-autorifill .auto-refill-btn {
    display: none;
}
.burnsp-lead-1-2019-05 .no-autorifill .one-time-btn {
    display: block;
}
.burnsp-lead-1-2019-05 .text-center.extra {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 15px;
}
@media only screen and (min-width: 1401px) {

}


@media only screen and (max-width: 1199px) {
.burnsp-lead-1-2019-05 h1 {
    font-size: 80px;
}
.burnsp-lead-1-2019-05 h2 {
    font-size: 42px;
}
.burnsp-lead-1-2019-05 h4 {
	font-size: 24px;
}
.burnsp-lead-1-2019-05 .h2-larg {
    font-size: 80px;
}
.burnsp-lead-1-2019-05 .h2-larg-2 {
    font-size: 62px;
}
.burnsp-lead-1-2019-05 .h2-larg-3 {
	font-size: 52px;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    font-size: 24px;
}
.burnsp-lead-1-2019-05 .section-1 .right-img {
	max-width: 340px;
}
.burnsp-lead-1-2019-05 .larg {
	font-size: 1.1em;
}
.burnsp-lead-1-2019-05 .larg-1 {
	font-size: 1em;
}
.burnsp-lead-1-2019-05 .f-3 {
	font-size: 1.2em !important;
}


/*OPTIONS AREA*/
.burnsp-lead-1-2019-05 .price {
    font-size: 50px;
}
.burnsp-lead-1-2019-05 .you-save {
    font-size: 12px;
    font-weight: bold !important;
}
.burnsp-lead-1-2019-05 .option-more-info {
    max-width: 300px;
    margin: 20px auto;
}
.burnsp-lead-1-2019-05 p.auto-refill {
    font-size: 12px !important;
}
.burnsp-lead-1-2019-05 .site-btn {
    font-size: 28px;
}
}


@media only screen and (max-width: 991px) {
.burnsp-lead-1-2019-05 h1 {
    font-size: 54px;
}
main.burnsp-lead-1-2019-05 , div.burnsp-lead-1-2019-05 {
    font-size: 17px;
}
.burnsp-lead-1-2019-05 h2 {
    font-size: 36px;
}
.burnsp-lead-1-2019-05 h4 {
    font-size: 20px;
}
.burnsp-lead-1-2019-05 .h2-larg {
    font-size: 60px;
}
.burnsp-lead-1-2019-05 .h2-larg-2 {
    font-size: 54px;
}
.burnsp-lead-1-2019-05 .h2-larg-3 {
	font-size: 46px;
}
.burnsp-lead-1-2019-05 .banner {
    padding: 100px 0;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    font-size: 18px;
}
.burnsp-lead-1-2019-05 .banner .styled-list {
    margin-top: 30px;
}
.burnsp-lead-1-2019-05 .darg-area {
    padding: 50px 20px;
}
.burnsp-lead-1-2019-05 .right-img {
    max-width: 280px;
}
.burnsp-lead-1-2019-05 .left-img {
    max-width: 280px;
}
.burnsp-lead-1-2019-05 .section-guarantee img {
    width: 220px;
}
.burnsp-lead-1-2019-05 .section-1 .right-img {
	max-width: 330px;
}
.burnsp-lead-1-2019-05 .f-3 {
	font-size: 1.1em !important;
}


.burnsp-lead-1-2019-05 .single-option {
    max-width: 300px;
    margin: 10px auto;
}
.burnsp-lead-1-2019-05 .single-option h3 span {
    font-size: 16px;
}
.burnsp-lead-1-2019-05 .old-price {
    padding-right: 15px;
}
.burnsp-lead-1-2019-05 .single-option-image {
    height: 200px;
}
.burnsp-lead-1-2019-05 .single-items {
    width: 31%;
    padding: 35px 15px;
}
.burnsp-lead-1-2019-05 .single-items span {
    font-size: 50px;
}
.burnsp-lead-1-2019-05 .single-items p {
    font-size: 15px;
}
}


@media only screen and (max-width: 767px) {
main.burnsp-lead-1-2019-05 , div.burnsp-lead-1-2019-05 {
    font-size: 15px;
}
.burnsp-lead-1-2019-05 h1 {
    font-size: 44px;
}
.burnsp-lead-1-2019-05 h2 {
    font-size: 28px;
}
.burnsp-lead-1-2019-05 h3 {
    font-size: 28px;
}
.burnsp-lead-1-2019-05 h4 {
    font-size: 17px;
}
.burnsp-lead-1-2019-05 p {
    margin: 0px 0 13px;
}
.burnsp-lead-1-2019-05 .h2-larg {
    font-size: 44px;
}
.burnsp-lead-1-2019-05 .h2-larg-2 {
    font-size: 40px;
}
.burnsp-lead-1-2019-05 .larg-1, .burnsp-lead-1-2019-05 .larg {
	font-size: 1.1em;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    font-size: 16px;
    padding-left: 20px;
}
.burnsp-lead-1-2019-05 .banner .styled-list {
    margin-top: 20px;
}
.burnsp-lead-1-2019-05 .banner {
    padding: 45px 0;
}
.burnsp-lead-1-2019-05 .styled-list {
    padding: 0;
    margin: 15px 0;
}
.burnsp-lead-1-2019-05 .styled-list.da-list.d-flex.justify-content-around.f-2 {
    display: block !important;
}
.burnsp-lead-1-2019-05 .darg-area {
    padding: 20px;
}
.burnsp-lead-1-2019-05 .hidden-xs{
    display: none !important;
}
.burnsp-lead-1-2019-05 .mobile-image {
	display: block !important;
	margin: 15px auto;
	width: 300px;
	border: 5px solid #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}
.burnsp-lead-1-2019-05 .white-area {
    padding: 25px 0;
}
.burnsp-lead-1-2019-05 .right-img {
    max-width: 210px;
}
.burnsp-lead-1-2019-05 .left-img {
    max-width: 210px;
    margin-bottom: 10px;
}
.burnsp-lead-1-2019-05 .section-guarantee img {
    width: 150px;
}
.burnsp-lead-1-2019-05 .button {
    font-size: 34px;
    padding: 10px 60px;
    margin: 10px 0 25px 0;
}
.burnsp-lead-1-2019-05 .right-img, .burnsp-lead-1-2019-05 .left-img {
    display: none !important;
}
.burnsp-lead-1-2019-05 .styled-list.ml {
	margin-left: 0;
}
.burnsp-lead-1-2019-05 .pad {
	padding: 0;
}
.burnsp-lead-1-2019-05 h1 {
    margin-bottom: 5px;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    margin-bottom: 10px;
}
.burnsp-lead-1-2019-05 .section-1 .right-img {
    max-width: 330px;
    display: block !important;
    max-width: 100%;
    width: 240px;
    margin: 0 auto 15px;
    float: none;
}
.burnsp-lead-1-2019-05 .mt-50 {
    margin-top: 0px !important;
}
.burnsp-lead-1-2019-05 .section-1 .hidden-xs.right-img{
    display: none !important
}
}

@media only screen and (max-width: 575px) {
.burnsp-lead-1-2019-05 h3 {
	font-size: 26px;
}
.burnsp-lead-1-2019-05 h2 small {
    font-size: .5em;
}
.burnsp-lead-1-2019-05 h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.burnsp-lead-1-2019-05 .banner {
    padding: 35px 0;
}
.burnsp-lead-1-2019-05 .banner .styled-list {
    margin-top: 10px;
}
.burnsp-lead-1-2019-05 .banner .styled-list li {
    font-size: 16px;
}
.burnsp-lead-1-2019-05 .darg-area {
    padding: 20px 15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    border-left: 0;
    border-right: 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}
.burnsp-lead-1-2019-05 .center-image {
    max-width: 85%;
}
.burnsp-lead-1-2019-05 .center-image.bdr {
    padding: 5px;
}
.burnsp-lead-1-2019-05 .last.last {
	padding-bottom: 0;
	margin-bottom: 30px;
}
.burnsp-lead-1-2019-05 .button {
    font-size: 28px;
    padding: 10px 40px;
}
.burnsp-lead-1-2019-05 .white-area.last.last-area {
	padding-bottom: 0;
	margin-bottom: -25px;
}
.burnsp-lead-1-2019-05 .section-14 h3 {
	margin-top: 25px;
}
.burnsp-lead-1-2019-05 h2 small {
	font-size: .7em;
}
.burnsp-lead-1-2019-05 .h2-larg-2, .burnsp-lead-1-2019-05 .h2-larg-3  {
    font-size: 28px
}
.burnsp-lead-1-2019-05 .h2-larg-2 small, .burnsp-lead-1-2019-05 .h2-larg-3 small  {
	font-size: .7em;
}
.burnsp-lead-1-2019-05 .larg-2 {
    font-size: 1.2em !important;
}
.burnsp-lead-1-2019-05 footer {
	padding: 30px 0;
}
.burnsp-lead-1-2019-05 .f-3 {
    font-size: 1.2em !important;
    padding: 0;
}
.burnsp-lead-1-2019-05 .boxed {
    padding: 15px;
}
.burnsp-lead-1-2019-05 .f-3 br {
    margin-bottom: 10px;
}
.burnsp-lead-1-2019-05 .no-shadow {
    box-shadow: none !important;
    width: 300px !important;
}
.burnsp-lead-1-2019-05 .bottle-middle {
    width: 300px;
}
.burnsp-lead-1-2019-05 .section-14 p.f-4 {
    margin-top: 30px;
}


.burnsp-lead-1-2019-05 .three-items {
    flex-flow: column;
}
.burnsp-lead-1-2019-05 .single-items {
    width: 300px;
    margin: 15px auto;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
}
.burnsp-lead-1-2019-05 .center-image {
    max-width: 100%;
}
.faq-area {
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.1);
    padding: 25px 20px;
    margin: 30px 0;
}
}